<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title}} - {{subtitle}}</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/loader.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<script src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full" data-id="dgLoader"></script>
<script src="/bundle.js"></script>
<script src="js/main.js"></script>
