<ul class="search-tabs" role="tablist">
	<li class="pseudo{{#unless isActive.geo}} active{{/unless}}">
		<a href="/firm">Организации</a>
	</li>
	<li class="pseudo{{#if isActive.geo}} active{{/if}}">
		<a href="/geo">Геообъекты</a>
	</li>
</ul>
